/* transaction */
.header-color{
    padding: 25px;
    background-color: #dfd7d9;
}
/* slider */
.slider-shirt-bg-info{
    color: white;
    background-color: #be7e8a;
}
.slider-pant-bg-info{
    color: white;
    background-color: #605c69;
}
.slider-shoe-bg-info{
    color: white;
    background-color: #745237;
}
.slider img{
    margin-top: 10px;
    padding-top: 10%;
    height: 350px;
}
/* categories */
.categories-shirt-bg{
    background-image: linear-gradient(rgba(128, 40, 92, 1), rgba(188, 29, 77, 1));
}
.categories-pant-bg{
    background-image: linear-gradient(rgb(24, 47, 127, 1), rgba(77, 27, 70, 1));
}
.categories-tshirt-bg{
    background-image: linear-gradient(rgba(247, 98, 112, 1), rgba(229, 51, 87, 1));
}
.categories-shoe-bg{
    background-image: linear-gradient(rgb(170, 56, 69, 1), rgba(201, 233, 247, 1));
}
.categories-hoodie-bg{
    background-image: linear-gradient(rgb(85, 29, 226, 1), rgba(214, 46, 133, 1), rgba(227, 89, 38, 1));
}
.categories img{
    width: 80px;
    height: 70px;
}
/* products */
.shirt-card img{
    height: 350px;
}
.trouser-card img{
    height: 400px;
}
.full-sleeve-card img{
    height: 400px;
}
/* subscriber */
.subscriber{
    background-image: linear-gradient(#ff448e, #3997e2);
    border: none;
    border-radius: 10px;
    color: white;
    font-size: 18px;
    margin: 4px 2px;
    cursor: pointer;
    color: white;
}
.green-button{
    background-color: #88baae;
    border: none;
    border-radius: 10px;
    color: white;
    padding: 5px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 18px;
    margin: 4px 2px;
    cursor: pointer;
    color: white;
}
/* button */
.button-color{
    background-color: #fd7b93; /* Green */
    border: none;
    border-radius: 10px;
    color: white;
    padding: 5px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 18px;
    margin: 4px 2px;
    cursor: pointer;
    color: white;
}